<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>taiji</title>

    <title>VisualEsxtopOnline</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </head>
    <body>
        <div id="container" style="height: 400px; min-width: 310px"></div>
        <script>
            $(function () {
                var seriesOptions = [];
                var seriesCounter = 0;
                $.getJSON('cpu_process_time.json', function (cpuNames){
                    var keys = Object.keys(cpuNames);
                    var names = [];

                    for (var i = 0; i < cpuNames[keys].length; i++) {
                        names[i] = cpuNames[keys][i];
                    }

                    $.each(names, function (i, name) {
                        createChart = function(){
                            $('#container').highcharts('StockChart', {
                                rangeSelector : {
                                    selected : 1
                                },

                                legend: {
                                    enabled: true,
                                    align: 'right',
                                    backgroundColor: '#FCFFC5',
                                    borderColor: 'black',
                                    borderWidth: 2,
                                    layout: 'vertical',
                                    verticalAlign: 'top',
                                    y: 100,
                                    shadow: true
                                },

                                title : {
                                    text : 'AAPL Stock Price'
                                },

                                series: seriesOptions
                            });
                        }

                        $.getJSON("../Documents/" + name + ".json?t=" + new Date(), function (data) {
                            seriesOptions[i] = {
                                name: name,
                                data: data,
                                tooltip: {
                                    valueDecimals: 2
                                }
                            };

                            seriesCounter += 1;
                            if (seriesCounter === names.length) {
                                createChart();
                            }
                        });
                    });
                });
            });
        </script>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        
        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
  </body>
</html>
