<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>taiji</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>VisualEsxtopOnline</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
      body {
          position: relative;
      }
      ul.nav-pills {
          top: 20px;
          position: fixed;
      }
      div.col-sm-9 div {
          height: 250px;
          font-size: 28px;
      }
      #CPU {color: #fff; background-color: #1E88E5;}
      #Memory {color: #fff; background-color: #673ab7;}
      #ProcessTime{color: #fff; background-color: #ff9800;}
      #UtilTime {color: #fff; background-color: #00bcd4;}
      #Kernel {color: #fff; background-color: #009688;}
      #NonKernel {color: #fff; background-color: #1E88E5;}
      #KernelState {color: #fff; background-color: #673ab7;}
      #SwapUsed {color: #fff; background-color: #ff9800;}
      #SwapMBytesRead {color: #fff; background-color: #00bcd4;}
      #SwapMBytesWrite {color: #fff; background-color: #009688;}
      
      @media screen and (max-width: 810px) {
        #CPU, #Memory, #ProcessTime, #UtilTime, #Kernel, #NonKernel, #KernelState​, #SwapUsed, #SwapMBytesRead, #SwapMBytesWrite  {
            margin-left: 150px;
        }
      }
      </style>
  </head>


<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <div class="container0">
      <div class="row">
        <nav class="col-sm-2" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">CPU<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:ProcessTime()">ProcessTime</a></li>
                <li><a href="javascript:UtilTime()">Util Time</a></li>                   
              </ul>
            </li>
            
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Memory<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:Kernel()">Kernel</a></li>
                <li><a href="javascript:NonKernel()">NonKernel</a></li> 
                <li><a href="javascript:KernelState()">Kernel State​</a></li>   
                <li><a href="javascript:SwapUsed()">Swap Used</a></li>   
                <li><a href="javascript:SwapMBytesRead()">Swap MBytes Read</a></li>   
                <li><a href="javascript:SwapMBytesWrite()">Swap MBytes Write</a></li>                              
              </ul>
            </li>
          </ul>
        </nav>
        <div class="col-sm-10">
          <div id="Chart">    
            <h1>Chart</h1>
                <div id="container" style="width:100%; height:400px;"></div>
          </div>
        </div>
      </div>
    </div>

    <!--<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">VisualEsxtopOnline</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>-->

<script language="JavaScript">

    $(function() {
        Highcharts.setOptions({
            chart: {
                backgroundColor: {
                    linearGradient: [0, 0, 500, 500],
                    stops: [
                        [0, 'rgb(255, 255, 255)'],
                        [1, 'rgb(240, 255, 255)']
                        ]
                },
                borderWidth: 2,
                plotBackgroundColor: 'rgba(255, 225, 255, .9)',
                plotShadow: true,
                plotBorderWidth: 1
            }
        });
    });

ProcessTime = function(){

    var seriesOptions = [];
    var seriesCounter = 0;
    $.getJSON('../static/data/cpu_process_time.json', function (cpuNames){
        var keys = Object.keys(cpuNames);
        var names = [];

        for (var i = 0; i < cpuNames[keys].length; i++) {
            names[i] = cpuNames[keys][i];
        }

        $.each(names, function (i, name) {
            var start = +new Date();
               createChart = function(){
            $('#container').highcharts('StockChart', {
                chart: {
                    events: {
                        load: function () {
                            if (!window.isComparing) {
                                this.setTitle(null, {
                                    text: 'Built chart in ' + (new Date() - start) + 'ms'
                                });
                            }
                        }
                    },
                    zoomType: 'x'
                },

                legend: {
                    enabled: true,
                    align: 'right',
                    backgroundColor: '#FCFFC5',
                    borderColor: 'black',
                    borderWidth: 2,
                    layout: 'vertical',
                    verticalAlign: 'top',
                    y: 100,
                    shadow: true
                },

                rangeSelector: {

                    buttons: [{
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1week'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },

                yAxis: {
                    title: {
                        text: 'usage (%)'
                    }
                },

                title: {
                    text: 'CPU ProcessTime in ESXi, 2014-2015'
                },

                subtitle: {
                    text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
                },

                series: seriesOptions
            });}
               $.getJSON('../static/data/' + name + '.json', function (data) {
            
               seriesOptions[i] = {
                    name: name,
                    data: data.data,
                    pointStart: data.pointStart,
                    pointInterval: data.pointInterval,
                    tooltip: {
                        valueDecimals: 1,
                        valueSuffix: '%'
                    }
                };
                seriesCounter += 1;
                if (seriesCounter === names.length) {
                    createChart();
                }
            });
        });
    });
};

UtilTime = function(){

    var seriesOptions = [];
    var seriesCounter = 0;
    $.getJSON('../static/data/cpu_util_time.json', function (cpuNames){
        var keys = Object.keys(cpuNames);
        var names = [];

        for (var i = 0; i < cpuNames[keys].length; i++) {
            names[i] = cpuNames[keys][i];
        }

        $.each(names, function (i, name) {
            var start = +new Date();
               createChart = function(){
            $('#container').highcharts('StockChart', {
                chart: {
                    events: {
                        load: function () {
                            if (!window.isComparing) {
                                this.setTitle(null, {
                                    text: 'Built chart in ' + (new Date() - start) + 'ms'
                                });
                            }
                        }
                    },
                    zoomType: 'x'
                },

                legend: {
                    enabled: true,
                    align: 'right',
                    backgroundColor: '#FCFFC5',
                    borderColor: 'black',
                    borderWidth: 2,
                    layout: 'vertical',
                    verticalAlign: 'top',
                    y: 100,
                    shadow: true
                },

                rangeSelector: {

                    buttons: [{
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1week'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },

                yAxis: {
                    title: {
                        text: 'usage (%)'
                    }
                },

                title: {
                    text: 'CPU UtilTime in ESXi, 2014-2015'
                },

                subtitle: {
                    text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
                },

                series: seriesOptions
            });}
               $.getJSON('../static/data/' + name + '.json', function (data) {
            
               seriesOptions[i] = {
                    name: name,
                    data: data.data,
                    pointStart: data.pointStart,
                    pointInterval: data.pointInterval,
                    tooltip: {
                        valueDecimals: 1,
                        valueSuffix: '%'
                    }
                };
                seriesCounter += 1;
                if (seriesCounter === names.length) {
                    createChart();
                }
            });
        });
    });
};

Kernel = function(){

    var seriesOptions = [];
    var seriesCounter = 0;
    var names = ["Kernel"];

    $.each(names, function (i, name) {
        var start = +new Date();
        createChart = function(){
            $('#container').highcharts('StockChart', {
                chart: {
                    events: {
                        load: function () {
                            if (!window.isComparing) {
                                this.setTitle(null, {
                                    text: 'Built chart in ' + (new Date() - start) + 'ms'
                                });
                            }
                        }
                    },
                    zoomType: 'x'
                },

                legend: {
                    enabled: true,
                    align: 'right',
                    backgroundColor: '#FCFFC5',
                    borderColor: 'black',
                    borderWidth: 2,
                    layout: 'vertical',
                    verticalAlign: 'top',
                    y: 100,
                    shadow: true
                },

                rangeSelector: {

                    buttons: [{
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1week'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },

                yAxis: {
                    title: {
                        text: 'usage (%)'
                    }
                },

                title: {
                    text: 'Memory Kernel in ESXi, 2014-2015'
                },

                subtitle: {
                    text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
                },

                series: seriesOptions
            });
        }

        $.getJSON('../static/data/Memory_Kernel.json', function (data) {
        
           seriesOptions[i] = {
                name: name,
                data: data.data,
                pointStart: data.pointStart,
                pointInterval: data.pointInterval,
                tooltip: {
                    valueDecimals: 1,
                    valueSuffix: '%'
                }
            };
            seriesCounter += 1;
            if (seriesCounter === names.length) {
                createChart();
            }
        });
    });
};

NonKernel = function() {

    var seriesOptions = [];
    var seriesCounter = 0;
    var names = ["NonKernel"];

    $.each(names, function (i, name) {
        var start = +new Date();
        createChart = function(){
            $('#container').highcharts('StockChart', {
                chart: {
                    events: {
                        load: function () {
                            if (!window.isComparing) {
                                this.setTitle(null, {
                                    text: 'Built chart in ' + (new Date() - start) + 'ms'
                                });
                            }
                        }
                    },
                    zoomType: 'x'
                },

                legend: {
                    enabled: true,
                    align: 'right',
                    backgroundColor: '#FCFFC5',
                    borderColor: 'black',
                    borderWidth: 2,
                    layout: 'vertical',
                    verticalAlign: 'top',
                    y: 100,
                    shadow: true
                },

                rangeSelector: {

                    buttons: [{
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1week'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },

                yAxis: {
                    title: {
                        text: 'usage (%)'
                    }
                },

                title: {
                    text: 'Memory NonKernel in ESXi, 2014-2015'
                },

                subtitle: {
                    text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
                },

                series: seriesOptions
            });
        }
        $.getJSON('../static/data/Memory_NonKernel.json', function (data) {
        
           seriesOptions[i] = {
                name: name,
                data: data.data,
                pointStart: data.pointStart,
                pointInterval: data.pointInterval,
                tooltip: {
                    valueDecimals: 1,
                    valueSuffix: '%'
                }
            };
            seriesCounter += 1;
            if (seriesCounter === names.length) {
                createChart();
            }
        });
    });
};

KernelState = function() {
    var seriesOptions = [];
    var seriesCounter = 0;
    var names = ["KernelState"];

    $.each(names, function (i, name) {
        var start = +new Date();
        createChart = function(){
            $('#container').highcharts('StockChart', {
                chart: {
                    events: {
                        load: function () {
                            if (!window.isComparing) {
                                this.setTitle(null, {
                                    text: 'Built chart in ' + (new Date() - start) + 'ms'
                                });
                            }
                        }
                    },
                    zoomType: 'x'
                },

                legend: {
                    enabled: true,
                    align: 'right',
                    backgroundColor: '#FCFFC5',
                    borderColor: 'black',
                    borderWidth: 2,
                    layout: 'vertical',
                    verticalAlign: 'top',
                    y: 100,
                    shadow: true
                },

                rangeSelector: {

                    buttons: [{
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1week'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },

                yAxis: {
                    title: {
                        text: 'usage (%)'
                    }
                },

                title: {
                    text: 'Memory KernelState in ESXi, 2014-2015'
                },

                subtitle: {
                    text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
                },

                series: seriesOptions
            });
        }
        $.getJSON('../static/data/Memory_KernelState.json', function (data) {
        
           seriesOptions[i] = {
                name: name,
                data: data.data,
                pointStart: data.pointStart,
                pointInterval: data.pointInterval,
                tooltip: {
                    valueDecimals: 1,
                    valueSuffix: '%'
                }
            };
            seriesCounter += 1;
            if (seriesCounter === names.length) {
                createChart();
            }
        });
    });
};

SwapUsed = function(){

    var seriesOptions = [];
    var seriesCounter = 0;
    var names = ["SwapUsed"];

    $.each(names, function (i, name) {
        var start = +new Date();
        createChart = function(){
            $('#container').highcharts('StockChart', {
                chart: {
                    events: {
                        load: function () {
                            if (!window.isComparing) {
                                this.setTitle(null, {
                                    text: 'Built chart in ' + (new Date() - start) + 'ms'
                                });
                            }
                        }
                    },
                    zoomType: 'x'
                },

                legend: {
                    enabled: true,
                    align: 'right',
                    backgroundColor: '#FCFFC5',
                    borderColor: 'black',
                    borderWidth: 2,
                    layout: 'vertical',
                    verticalAlign: 'top',
                    y: 100,
                    shadow: true
                },

                rangeSelector: {

                    buttons: [{
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1week'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },

                yAxis: {
                    title: {
                        text: 'usage (%)'
                    }
                },

                title: {
                    text: 'Memory SwapUsed in ESXi, 2014-2015'
                },

                subtitle: {
                    text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
                },

                series: seriesOptions
            });
        }
        $.getJSON('../static/data/Memory_SwapUsed.json', function (data) {
        
           seriesOptions[i] = {
                name: name,
                data: data.data,
                pointStart: data.pointStart,
                pointInterval: data.pointInterval,
                tooltip: {
                    valueDecimals: 1,
                    valueSuffix: '%'
                }
            };
            seriesCounter += 1;
            if (seriesCounter === names.length) {
                createChart();
            }
        });
    });
};

SwapMBytesRead = function(){

    var seriesOptions = [];
    var seriesCounter = 0;
    var names = ["SwapMBytesRead"];

    $.each(names, function (i, name) {
        var start = +new Date();
        createChart = function(){
            $('#container').highcharts('StockChart', {
                chart: {
                    events: {
                        load: function () {
                            if (!window.isComparing) {
                                this.setTitle(null, {
                                    text: 'Built chart in ' + (new Date() - start) + 'ms'
                                });
                            }
                        }
                    },
                    zoomType: 'x'
                },

                legend: {
                    enabled: true,
                    align: 'right',
                    backgroundColor: '#FCFFC5',
                    borderColor: 'black',
                    borderWidth: 2,
                    layout: 'vertical',
                    verticalAlign: 'top',
                    y: 100,
                    shadow: true
                },

                rangeSelector: {

                    buttons: [{
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1week'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },

                yAxis: {
                    title: {
                        text: 'usage (%)'
                    }
                },

                title: {
                    text: 'Memory SwapMBytesRead in ESXi, 2014-2015'
                },

                subtitle: {
                    text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
                },

                series: seriesOptions
            });
        }
        $.getJSON('../static/data/Memory_SwapMBytesRead.json', function (data) {
        
           seriesOptions[i] = {
                name: name,
                data: data.data,
                pointStart: data.pointStart,
                pointInterval: data.pointInterval,
                tooltip: {
                    valueDecimals: 1,
                    valueSuffix: '%'
                }
            };
            seriesCounter += 1;
            if (seriesCounter === names.length) {
                createChart();
            }
        });
    });
};

SwapMBytesWrite = function(){

    var seriesOptions = [];
    var seriesCounter = 0;
    var names = ["SwapMBytesWrite"];

    $.each(names, function (i, name) {
        var start = +new Date();
        createChart = function(){
            $('#container').highcharts('StockChart', {
                chart: {
                    events: {
                        load: function () {
                            if (!window.isComparing) {
                                this.setTitle(null, {
                                    text: 'Built chart in ' + (new Date() - start) + 'ms'
                                });
                            }
                        }
                    },
                    zoomType: 'x'
                },

                legend: {
                    enabled: true,
                    align: 'right',
                    backgroundColor: '#FCFFC5',
                    borderColor: 'black',
                    borderWidth: 2,
                    layout: 'vertical',
                    verticalAlign: 'top',
                    y: 100,
                    shadow: true
                },

                rangeSelector: {

                    buttons: [{
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1week'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },

                yAxis: {
                    title: {
                        text: 'usage (%)'
                    }
                },

                title: {
                    text: 'Memory Kernel in ESXi, 2014-2015'
                },

                subtitle: {
                    text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
                },

                series: seriesOptions
            });
        }

        $.getJSON('../static/data/Memory_SwapMBytesWrite.json', function (data) {
        
           seriesOptions[i] = {
                name: name,
                data: data.data,
                pointStart: data.pointStart,
                pointInterval: data.pointInterval,
                tooltip: {
                    valueDecimals: 1,
                    valueSuffix: '%'
                }
            };
            seriesCounter += 1;
            if (seriesCounter === names.length) {
                createChart();
            }
        });
    });
};
</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
  </body>
</html>
